*{
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
    /*Permite que el movimiento del scroll sea mas suave y no de saltos*/
}
.btn-ini{
    position: fixed; /*El elemento es removido del flujo normal del documento sin crearse espacio alguno para el elemento en el esquema de la pagina*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,.658);
    color: #49a3d6;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
    font-size: 20px;
}
.btn-ini:hover{
    background: #000;

}
.btn-ini:hover > .icoIni{fill: #fff;}

.icoIni{
    fill: #000;
}

body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1050px;
    margin: auto;
    overflow: hidden;
}
/*HEADER*/
header{
    background: url(../img/fondo.jpg) #49a3d6;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
    
}

header .contenedor a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #456789;
    text-shadow: 1px 1px black;
    font-size: small;
  }

  header .contenedor input[type="checkbox"], header .contenedor .fa-bars, header .contenedor  .fa-times, .icoBarras,.icoX {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
  header .contenedor  .fa-bars, header .contenedor .fa-times, .icoBarras,.icoX {
    font-size: 48px;
    pointer-events: none;
  }
  
  header .contenedor  input[type="checkbox"] {
    opacity: 0;
  }
  
  header .contenedor  {
    color: white;
    position: relative;
    min-height: 48px;
    
  }
  .imgNovedades{
    width: 300px;
    display: inline-flex;
    padding: 20px;
  }
  
  header .contenedor  nav {
    display: block;
    visibility: hidden;
  }
  
  header .contenedor  input:checked ~ nav {
    display: block;
    visibility:  visible;
  }
  
  header .contenedor  input:checked ~ .icoBarras {
    display: block;
    visibility: hidden;
  }
  
  header .contenedor  input:not(:checked) ~ .icoX {
    display: none;
  }
  header .contenedor  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
  }
  header .contenedor  nav ul a{
    margin: 5px;
    padding: 0px;
    font-size: 18px;
  }
  .iconoBarras,.iconoX{
    fill: #f2f2f2;
}
header .menu a:hover{
    border-bottom: 2px solid #fff;
}
header .contenedor-texto{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
header .contenedor-texto .texto{
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    background-color: rgba(0,0,0,0.7)
}
.letraPixel{
    font-family: 'Pixelify Sans', cursive;
}
.letraComun{
    font-family: 'Open Sans', sans-serif;
}
header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    font-size: 300;
    margin: 0;
}
header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
}
/*MAIN*/
.main .contenedor{
    overflow: visible;
}
/*MAIN - ACERCA DE */
.main .acerca-de{
    text-align: left;
}
.main .acerca-de .texto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ff820d;
    text-align: center;
}
.main .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
}
/*MAIN TRABAJOS*/
.main .trabajos {
    background: #f2f2f2;
    padding: 60px 0;
}
.main .trabajos .contenedor {
    overflow: hidden;
}
.main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #323068;
    text-align: center;
}
.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .trabajos .contenedor-trabajos .trabajo{
    width: 23%;
    margin-bottom: 40px ;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo img{
    width: 100%;
    vertical-align: top;
    border-radius: 6px;
}
.main .trabajos .contenedor-trabajos .trabajo img:hover{
    opacity: 0.5;
}
.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}
.main .trabajos .contenedor-trabajos .trabajo .nombre{
    font-weight: 700;
    color:#3895ea;
    margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo .categoria{
    font: 14px;
    color: #636363;
}
/*footer - contacto*/
.main .contacto{
    padding: 60px 0 ;
}
.main .contacto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #3895ea;
    text-align: center;
}
.main .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main .contacto .formulario input[type="text"],
.main .contacto .formulario input[type="email"],
.main .contacto .formulario textarea,
.main .contacto .formulario select {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}
.main .contacto .formulario input[type="text"]:hover,
.main .contacto .formulario input[type="email"]:hover,
.main .contacto .formulario textarea:hover,
.main .contacto .formulario select:hover{
    border: 2px solid #3895ea;
}
.main .contacto .formulario input[type="text"],
.main .contacto .formulario input[type="email"],
.main .contacto .formulario select {
    width: 49.9%;
    margin-bottom: 15px;
}
.main .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}
.main .contacto .formulario .boton{
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}
.main .contacto .formulario .boton:hover{
    background: #387bea;
}

.imgServicios {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
     border-radius: 2px;
     border-style: solid;
     opacity:0.5;
    transition: 1s ease;
  

} 
.imgServicios:hover{
    opacity:1;
    transition: 1s ease;
}
.imgClientes {
    width: 20%;
    height: 20%;
    border-radius: 5px;
    border-style: solid;
    opacity:0.5;
    transition: 1s ease;
   
}
.imgClientes:hover{
    opacity:1;
    transition: 1s ease;
}

.Clientes,.Herramientas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Herramienta{
    width: 23%;
    margin-bottom: 40px ;
    overflow: hidden;
}
.Herramienta .thumb{
    width: 100%;
    margin-bottom: 10px;
}
.Herramienta  img{
    width: 100%;
    vertical-align: top;
    border-radius: 6px;
}
.Herramienta  .descripcion {
    text-align: center;
}
.Herramienta  .nombre{
    font-weight: 700;
    color:#3895ea;
    margin-bottom: 10px;
}
.Herramienta .thumb img{
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.Herramienta .thumb img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/*FOOTER REDES SOCIALES*/
footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}
footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}
footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 100px;
  
    display: block;
    padding: 15px 0;
    font-size: 30px;
    border-radius: 3px;
    margin: 0 20px;
}


footer .redes-sociales .twitter:hover{background: #1da1f2;}
footer .redes-sociales .facebook:hover{background: #3b5998;}
footer .redes-sociales .youtube:hover{background: #cd201f;}
footer .redes-sociales .github:hover{background: #666666;}
footer .redes-sociales .instagram:hover{background: #3f729b;}

@media screen and (max-width:800px) {
    header .contenedor  nav ul {
        flex-direction:column;        
    }
    header .contenedor  input:checked ~ nav {
        height: 100px;
        
    }
      
    header .contenedor  input:not(:checked) ~ nav {
        height: 0px;
        
    }
    header .menu{
        text-align: center;
    }
    .main .trabajos .contenedor-trabajos .trabajo{
        width: 46%;
    }
    .main{
        padding-bottom: 30px;
    }
    footer .redes-sociales{
        padding: 20px;
    }
    
    
}
@media screen and (max-width:500px){
    
    header   {
        height: 500px;
    }
        
    header .contenedor  nav ul {
        flex-direction:column;
        padding: 0px;        
    }
   
    
    img{
        width: -webkit-fill-available;
    }
    header .contenedor  nav ul li{
        margin: 3px;
    }
    
    header .contenedor  input:checked ~ nav {
        height: 200px;
        
    }
      
    header .contenedor  input:not(:checked) ~ nav {
        height: 100px;
        
    }
    
    header .contenedor-texto .texto {
        padding: 0px 10px;
    }
    header .contenedor-texto .texto .nombre{
        font-size: 35px;
    }

    header .contenedor-texto .texto .profesion{
        font-size: 18px;
    }
    .imgServicios{
        opacity: 1;
        height: auto;
    }
    .imgClientes {
        opacity: 1;
        width: 30%;
    }
    .Herramienta .nombre{
        font-size: 12px;
    }
    
  

}
@media screen and (max-width:320px){
    footer .redes-sociales a{
        margin: 0;

    }
    
}
